h1 {
    color: black;
    font-size: 60px;
    text-align: center;

}

.link{
    font-size: 20px;
}

.main_recipe_img{
    height: auto;
    width: 350px;
    margin-left: 50%;
}

h3 {
    font-size: 30px;
}