* {
    font-family: "Helvetica", sans-serif;
}

h1 {
    color: black;
    font-size: 60px;
    text-align: left;

}

.link{
    font-size: 20px;
}

.main_recipe_img{
    height: auto;
    width: 350px;
    display: block;
}

h3 {
    font-size: 33px;
}

p {
    text-align: left;
    font-size: 20px;
}

.ingredients{
    font-size: 20px;
    
}

.steps{
    font-size: 20px;
}


